@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: futura-pt, sans-serif;
  background-image: url(futuriste.avif);
  background-color: white;
  opacity:30;
  left: 0;
    top: 0;
    width: auto;
    height: 100%;
}
h1{
  text-align: right;
}
div id{
  background-color: white;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 600px;
  padding: 20px;

}
.form-box {
  width: 100%;
  max-width: 400px;
  padding: 30px 15px;
  border-radius: 24px;
  background-color: #fff;
  text-align: center;
}
.c-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.c-form-label {
  display: inline-block;
  margin: .5rem 0;
  color: #fff;
  letter-spacing: .2px;
  font-size: 1rem;
}
.c-form-input {
  width: 100%;
  padding: 15px 10px;
  border: 9px solid darkblue;
  border-radius: 4px;
  background-color: #fff;
  color: #031686;
  outline: 0;
}
.c-form-input::placeholder {
  color: #0603ac;
  font-size: 1rem;
   border-radius: 24px;
}
.c-form-required {
  color: #b0092d;
}
textarea.c-form-input {
  width: 100%;
  min-height: 10ch;
  max-height: 120ch;
  padding: 10px;
  resize: none;
}
.two-columns {
  display: grid;
  grid-template-columns: 100%;
}
fieldset {
  margin: .4rem 0;
  padding: 0;
  border: none;

}
.c-form-btn {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 24px;
  background-color: darkblue;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 481px) {
  
}